polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "m17-gateway.service" &&
        subject.group == "m17-gateway-control") {
        return polkit.Result.YES;
    }
})