[General]
# Example: N1ADJ or N1ADJ G
Callsign=CALLSIGN_PLACEHOLDER
DashboardLog=/opt/m17/m17-gateway/dashboard.log

[Radio]
# Hertz
RXFrequency=435000000
TXFrequency=435000000
# Power dbm
Power=10
AFC=true
FrequencyCorr=0
Duplex=false

[Reflector]
HostFile=/opt/m17/m17-gateway/M17Hosts.txt
OverrideHostFile=/opt/m17/m17-gateway/OverrideHosts.txt
Name=M17-M17
Module=C

[Log]
# Logging levels: ERROR, INFO, DEBUG
Level=DEBUG

[Modem]
# Uncomment the following to use a single serial connection (legacy firmware)
Port=/dev/ttyAMA0
# For dual-CDC firmware expose dedicated command/baseband interfaces.
# CommandPort=/dev/ttyCC1200-CMD
# BasebandPort=/dev/ttyCC1200-BB
# DualPort=true
Speed=460800
NRSTPin=21
PAEnablePin=18
Boot0Pin=20
